# Template file for secrets-related configuration
# See https://toml.io/en/ for more info about the file format
#
# To use this file, remove the ".template" suffix from the file name

# Application APK signing configuration
[signing]
keystore-password = "<root password>"
keystore-alias = "<alias>"
keystore-alias-password = "<alias password>"
