name: Nightly releases

on:
  schedule:
    - cron: "0 0 * * *" # Executes every day at 12 midnight UTC

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup Java
      uses: actions/setup-java@v2.1.0
      with:
        java-version: 11
    - name: Install Homebrew dependencies
      run: brew bundle
    - name: Decrypt keystore
      run: |
        source ~/.profile
        echo "Current version of transcrypt:"
        transcrypt -v
        transcrypt -c ${{ secrets.TRANSCRYPT_CIPHER }} -p ${{ secrets.TRANSCRYPT_PASSWORD }} -y
      env:
        SECRETS_GPG_COMMAND: gpg2
    - name: Build app
      run: |
        source ~/.profile
        ./gradlew :app:assembleNightly -PversionClassifier=nightly
        # APK is available at app/build/outputs/apk/nightly/app-nightly.apk
      env:
        APP_KEYSTORE_PASSWORD: ${{ secrets.APP_KEYSTORE_PASSWORD }}
        APP_KEYSTORE_ALIAS: ${{ secrets.APP_KEYSTORE_ALIAS }}
        APP_KEYSTORE_ALIAS_PASSWORD: ${{ secrets.APP_KEYSTORE_ALIAS_PASSWORD }}
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: app-nightly.apk
        path: app/build/outputs/apk/nightly/app-nightly.apk
